# 4. Data Preparation dengan Standarization

In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler

In [2]:
# Membuat data fram contoh
df = pd.DataFrame({
    'Nama': ['Andi', 'Budi', 'Cindy', 'Diana', 'Eka', 'lala'],
    'Gaji': [3000000, 5000000, 7000000, 9000000, 11000000, 9000000],
    'Umur': [25, 30, 35, 40, 45, 30]
})

In [3]:
# Normalisasi data gaji dan umur menggunakan StandardScaler
scaler = StandardScaler()
df[['Gaji', 'Umur']] = scaler.fit_transform(df[['Gaji', 'Umur']])

# Menampilkan data frame hasil normalisasi
df

    Nama      Gaji      Umur
0   Andi -1.612452 -1.364382
1   Budi -0.868243 -0.620174
2  Cindy -0.124035  0.124035
3  Diana  0.620174  0.868243
4    Eka  1.364382  1.612452
5   lala  0.620174 -0.620174