# Penilaian Praktikum

## 1. Pengolahan Data

Baca data dari file CSV menggunakan pandas

In [51]:
import pandas as pd

df = pd.read_csv('data_pasien.csv')

Tampilkan informasi awal dataset: jumlah data, nama kolom, dan tipe data

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            10 non-null     int64
 1   Usia          10 non-null     int64
 2   IMT           10 non-null     float64
 3   TekananDarah  10 non-null     int64
 4   Merokok       10 non-null     object
 5   Olahraga      10 non-null     object
 6   Penyakit      10 non-null     object
dtypes: float64(1), int64(3), object(3)
memory usage: 692.0+ bytes

In [53]:
df

   ID  Usia   IMT  TekananDarah Merokok Olahraga Penyakit
0   1    25  22.5           120   Tidak       Ya    Tidak
1   2    50  30.1           150      Ya    Tidak       Ya
2   3    37  27.3           140   Tidak    Tidak       Ya
3   4    29  23.8           118   Tidak       Ya    Tidak
4   5    41  31.5           160      Ya    Tidak       Ya
5   6    33  26.2           130   Tidak       Ya    Tidak
6   7    55  28.9           145      Ya    Tidak       Ya
7   8    22  21.7           110   Tidak       Ya    Tidak
8   9    45  29.4           155      Ya    Tidak       Ya
9  10    31  25.6           135   Tidak       Ya    Tidak

Tampilkan 5 data akhir

In [54]:
df.tail()

   ID  Usia   IMT  TekananDarah Merokok Olahraga Penyakit
5   6    33  26.2           130   Tidak       Ya    Tidak
6   7    55  28.9           145      Ya    Tidak       Ya
7   8    22  21.7           110   Tidak       Ya    Tidak
8   9    45  29.4           155      Ya    Tidak       Ya
9  10    31  25.6           135   Tidak       Ya    Tidak

## 2. Pembersihan Data

Periksa apakah ada missing value?

In [55]:
df.isnull().sum()

ID              0
Usia            0
IMT             0
TekananDarah    0
Merokok         0
Olahraga        0
Penyakit        0
dtype: int64

Ubah data kategori (Ya/Tidak) menjadi numerik (1/0)

In [56]:
cols = ['Merokok', 'Olahraga', 'Penyakit']
df[cols] = df[cols].replace({'Ya': 1, 'Tidak': 0})

C:\Users\User\AppData\Local\Temp\ipykernel_2112\3332163966.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[cols] = df[cols].replace({'Ya': 1, 'Tidak': 0})

In [57]:
df

   ID  Usia   IMT  TekananDarah  Merokok  Olahraga  Penyakit
0   1    25  22.5           120        0         1         0
1   2    50  30.1           150        1         0         1
2   3    37  27.3           140        0         0         1
3   4    29  23.8           118        0         1         0
4   5    41  31.5           160        1         0         1
5   6    33  26.2           130        0         1         0
6   7    55  28.9           145        1         0         1
7   8    22  21.7           110        0         1         0
8   9    45  29.4           155        1         0         1
9  10    31  25.6           135        0         1         0

## 3. Pemrosesan Data

Pisahkan data fitur dan label

In [58]:
X = df.drop(columns=['ID', 'Penyakit'])
y = df['Penyakit']

Lakukan pembagian data latih dan data uji (90:10)

In [59]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42)

print(f"Ukuran data latih: {X_train.shape[0]}")
print(f"Ukuran data uji: {X_test.shape[0]}")

Ukuran data latih: 9
Ukuran data uji: 1

Normalisasi data numerik jika diperlukan

In [60]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [61]:
df

   ID  Usia   IMT  TekananDarah  Merokok  Olahraga  Penyakit
0   1    25  22.5           120        0         1         0
1   2    50  30.1           150        1         0         1
2   3    37  27.3           140        0         0         1
3   4    29  23.8           118        0         1         0
4   5    41  31.5           160        1         0         1
5   6    33  26.2           130        0         1         0
6   7    55  28.9           145        1         0         1
7   8    22  21.7           110        0         1         0
8   9    45  29.4           155        1         0         1
9  10    31  25.6           135        0         1         0

## 4. Klasifikasi

Saya menggunakan Decision Tree untuk Klasifikasi
dan berikut hasil evaluasi akurasi model

In [62]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score

model = DecisionTreeClassifier(random_state=42)
model.fit(X_train_scaled, y_train)

y_pred = model.predict(X_test_scaled)

accuracy = accuracy_score(y_test, y_pred)
print(f"\nAkurasi model: {accuracy:.2f}")

Akurasi model: 1.00